In [1]:
import pandas as pd
import os
# from IPython.display import display

In [2]:
# pd.set_option('display.max_columns', None)  # Display all columns without truncation.

# Import processed data

In [4]:
folder_processed_data_path = './data/processed_data/'

movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'movie_df.csv'))
character_df = pd.read_csv(os.path.join(folder_processed_data_path, 'character_df.csv'))
name_by_movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'name_by_movie_df.csv'))

print("movie_df :")
display(movie_df.head())
print("character_df :")
display(character_df.head())
print("name_by_movie_df :")
display(name_by_movie_df.head())

movie_df :

,wiki_ID,free_ID,mov_name,release,revenue,runtime,languages,countries,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

character_df :

,wiki_ID,char_name,free_ID,release,DOB,gender,height,ethnicity,act_name,age_at_release,free_char_map1,free_char_map2,free_char_map3
0,975900,Akooshay,/m/03vyhn,2001-08-24,1958-08-26,F,1.620,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,Lieutenant Melanie Ballard,/m/03vyhn,2001-08-24,1974-08-15,F,1.780,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4
2,975900,Desolation Williams,/m/03vyhn,2001-08-24,1969-06-15,M,1.727,/m/0x67,Ice Cube,32.0,/m/0jys3g,/m/0bgchn_,/m/01vw26l
3,975900,Sgt Jericho Butler,/m/03vyhn,2001-08-24,1967-09-12,M,1.750,NaN,Jason Statham,33.0,/m/02vchl6,/m/0bgchnq,/m/034hyc
4,975900,Bashira Kincaid,/m/03vyhn,2001-08-24,1977-09-25,F,1.650,NaN,Clea DuVall,23.0,/m/02vbb3r,/m/0bgchp9,/m/01y9xg

name_by_movie_df :

    wiki_ID  char_words
0    975900  Lieutenant
1   7668793  Lieutenant
2  24226493  Lieutenant
3   3388805  Lieutenant
4   8231713  Lieutenant

### Lets check the data for a specific popular movie

chosen movie : The Shawshank Redemption

# Useless I think

### Plot Summaries Data :

In [ ]:
# import data
plot_summaries_path = 'MovieSummaries\\plot_summaries.txt'
plot_summaries_data = pd.read_csv(plot_summaries_path, sep='\t', header=None)

In [ ]:
# add column names deduced from README
plot_summaries_data.columns = ['wiki_ID', 'summary']

display(plot_summaries_data.head())

### Core NLP Summaries data

In [ ]:
import os
import gzip
import xml.etree.ElementTree as ET

# Specify the folder containing the compressed .gz files
folder_path = './MovieSummaries/corenlp_plot_summaries/'

# Create a list to store the parsed XML data
xml_data = []

for file_name in os.listdir(folder_path):
    if file_name.endswith('.gz'):
        gz_file_path = os.path.join(folder_path, file_name)
        with gzip.open(gz_file_path, 'rt') as xml_file:
            xml_content = xml_file.read()
            root = ET.fromstring(xml_content)
            xml_data.append(root)

# Now you should have the parsed XML data in the `xml_data` list

In [ ]:
import os
import gzip
import xml.etree.ElementTree as ET

# Specify the folder containing the compressed .gz files
folder_path = './MovieSummaries/corenlp_plot_summaries/'

# Create a list to store the parsed XML data
xml_data = []

for file_name in os.listdir(folder_path):
    print(f"file_name = {file_name}")
    if file_name.endswith('.gz'):
        gz_file_path = os.path.join(folder_path, file_name)
        with gzip.open(gz_file_path, 'rt') as xml_file:
            xml_content = xml_file.read()
            root = ET.fromstring(xml_content)
            xml_data.append(root)

# Combine all the parsed XML data into a single XML element
combined_root = ET.Element("root")  # Create a new root element

for xml_element in xml_data:
    combined_root.append(xml_element)

# Create an ElementTree from the combined XML data
combined_tree = ET.ElementTree(combined_root)

# Define the output file path for the combined XML
output_xml_file = 'combined_data.xml'

# Write the combined XML data to the output file
combined_tree.write(output_xml_file)

print(f"Combined XML data saved to {output_xml_file}")

### Character Metadata :

In [ ]:
# import data
character_metadata_path = 'MovieSummaries\\character.metadata.tsv'
character_metadata_data = pd.read_csv(character_metadata_path, sep='\t', header=None)

In [ ]:
# add column names deduced from README
character_metadata_data.columns = ['wiki_ID', 'free_ID', 'release', 'char_name', 'DOB', 'gender', 'height', 'ethnicity', 'act_name', 'age_at_release', 'free_char_map1', 'free_char_map2', 'free_char_map3']

display(character_metadata_data.head())

### Movie Metadata :

In [ ]:
# import data
movie_metadata_path = 'MovieSummaries\\movie.metadata.tsv'
movie_metadata_data = pd.read_csv(movie_metadata_path, sep='\t', header=None)

In [ ]:
# add column names deduced from README
movie_metadata_data.columns = ['wiki_ID', 'free_ID', 'mov_name', 'release', 'revenue', 'runtime', 'languages', 'countries', 'genres']

display(movie_metadata_data.head())

### Name Clusters Test Data:

In [ ]:
# import data
name_clusters_path = 'MovieSummaries\\name.clusters.txt'
name_clusters_data = pd.read_csv(name_clusters_path, sep='\t', header=None)

In [ ]:
display(name_clusters_data.head())

### TVTropes Clusters Test Data:

In [ ]:
# import data
tvtropes_clusters_path = 'MovieSummaries\\tvtropes.clusters.txt'
tvtropes_clusters_data = pd.read_csv(tvtropes_clusters_path, sep='\t', header=None)

In [ ]:
display(tvtropes_clusters_data.head())