In [1]:
import pandas as pd
import os
import numpy as np

# Get data for data discovery

In [2]:
folder_processed_data_path = './processed_data/'
processed_website_data_folder = './processed_data/website/'

We import the dataframe computed in preprocessing.

In [3]:
# import the name by movie
print("name_by_movie_ordered_pvalue_10_5_df :")
name_by_movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'name_by_movie_ordered_pvalue_10_5_df.csv'))
# name_by_movie_df.set_index(['wiki_ID', 'char_words', 'gender'], inplace=True)
display(name_by_movie_df.sample(2))
print(f"length : {len(name_by_movie_df)}\n")

# import movie genres
print("movie_genres_df :")
movie_genres_df = pd.read_csv(os.path.join(folder_processed_data_path, 'movie_genres_df.csv'))
display(movie_genres_df.sample(2))
print(f"length : {len(movie_genres_df)}\n")

# import the movie dataframe
print("movie_df :")
movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'movie_df.csv'))
# movie_df.set_index(['wiki_ID'], inplace=True)
display(movie_df.sample(2))
print(f"length : {len(movie_df)}")

name_by_movie_ordered_pvalue_10_5_df :

        wiki_ID char_words  order gender    t_stat   p_value  slope_change
26321   1037237    Roberto    8.0      M  1.041582  0.319957     -0.001153
90024  10099627      Fanny    6.0      F -0.043412  0.966151      0.000008

length : 172906

movie_genres_df :

         wiki_ID             genre
195928  30578340         Adventure
18832     955409  Action/Adventure

length : 213854

movie_df :

,wiki_ID,mov_name,year,month,revenue,numVotes,averageRating,poster_url,IMDB_ID
3960,28826687,"Minotaur, the Wild Beast of Crete",1960,11.0,NaN,374,4.9,NaN,tt0055518
61008,2976720,The Happening,1967,3.0,NaN,814,5.1,/kop5V8eGnFuwpmte0bBnJiAPzTR.jpg,tt0061748

length : 65503

In [4]:
# keep only the movie_id and name and drop duplicates as we remove the gender column
char_name_per_movie = name_by_movie_df[['wiki_ID', 'char_words']].drop_duplicates()
display(char_name_per_movie.sample(2))
print(f"Length change : {len(name_by_movie_df)} -> {len(char_name_per_movie)}")

         wiki_ID char_words
94734   11214758     Taylor
171692  35630780       Boss

Length change : 172906 -> 167984

In [5]:
# add a column with the genre of the movie
char_name_per_movie_with_genre = char_name_per_movie.merge(movie_genres_df, on='wiki_ID', how='left').copy(deep=True)

# rearrange and rename the columns
char_name_per_movie_with_genre = char_name_per_movie_with_genre[['genre', 'char_words', 'wiki_ID']].copy(deep=True)
char_name_per_movie_with_genre.rename(columns={'char_words': 'char_name', 'wiki_ID': 'movie_id'}, inplace=True)

display(char_name_per_movie_with_genre.sample(2))
print(f"Length change : {len(char_name_per_movie)} -> {len(char_name_per_movie_with_genre)}") # the increase is due to the fact that some movies have multiple genres

                  genre char_name  movie_id
654819    Crime Fiction     Sarah  25040465
526886  Black-and-white      Chan  15075444

Length change : 167984 -> 739925

In [6]:
# for each name and genre, count the number of movies
movie_count_per_name_and_genre = char_name_per_movie_with_genre.groupby(['genre', 'char_name']).count().reset_index()
movie_count_per_name_and_genre.rename(columns={'movie_id': 'nb_movies'}, inplace=True)
display(movie_count_per_name_and_genre.sample(10))
print(f"Length of movie_count_per_name_and_genre : {len(movie_count_per_name_and_genre)}")

                    genre  char_name  nb_movies
204431     Romantic drama     Sakina          2
156270  Martial Arts Film     Angela          3
88822   Culture & Society     Martin          1
151930    Japanese Movies     Haruko          1
159878       Mockumentary    Warrick          1
191067       Romance Film     Conway          6
118685        Family Film       Tina         10
16066           Adventure  Charleton          1
165493            Musical       Star          4
187286     Religious Film      Wendy          2

Length of movie_count_per_name_and_genre : 254789

In [7]:
# drop the non relevant name 'The' from the dataframe
movie_count_per_name_and_genre = movie_count_per_name_and_genre[movie_count_per_name_and_genre['char_name'] != 'The'].copy(deep=True)

# List of irrelevant names
irrelevant_names = ['The', 'Agent', 'Man', 'Girl', 'General', 'Young', 'Chief', 'Captain', 'Sheriff']

# Filter rows where 'char_name' is not in the list of irrelevant names
movie_count_per_name_and_genre = movie_count_per_name_and_genre[~movie_count_per_name_and_genre['char_name'].isin(irrelevant_names)].copy(deep=True)

In [8]:
# For each genre, keep only the 10 names with the most counts
movie_count_per_name_and_genre.reset_index(inplace=True)
movie_count_per_name_and_genre.sort_values(by=['genre', 'nb_movies'], ascending=False, inplace=True)
top10_per_genre = movie_count_per_name_and_genre.groupby('genre').head(10).reset_index(drop=True)
top10_per_genre.set_index(['genre', 'char_name'], inplace=True)
display(top10_per_genre)

                        index  nb_movies
genre       char_name
Zombie Film Alice      254325          6
            Frank      254486          5
            Ben        254358          4
            Doctor     254447          4
            Herbert    254519          4
...                       ...        ...
Absurdism   George        176          4
            King          271          4
            Roger         414          4
            Thompson      476          4
            Alan            7          3

[3145 rows x 2 columns]

In [9]:
# keep only the rows with a genre among the 5 genres with the highest number of names
top5_genres = movie_count_per_name_and_genre.groupby('genre').sum().sort_values(by='nb_movies', ascending=False).head(5).index
top10_name_top5_genre = top10_per_genre.loc[top5_genres, :].copy(deep=True)
top10_name_top5_genre.drop(columns=['index'], inplace=True)
print(top10_name_top5_genre)

                        nb_movies
genre        char_name
Drama        John             701
             Jack             426
             Mary             379
             Joe              338
             Paul             334
             Frank            333
             George           325
             David            324
             Tom              307
             James            280
Comedy       John             261
             Jack             249
             Joe              193
             Frank            187
             George           186
             Sam              181
             Mary             180
             Tom              165
             Bob              161
             Paul             152
Thriller     John             304
             Jack             246
             Frank            183
             James            152
             David            151
             Michael          151
             Tom              145
             Sam              141
             Paul             130
             Mike             127
Romance Film John             233
             Jack             146
             Mary             142
             Paul             129
             Joe              127
             George           125
             David            117
             Frank            113
             Tom              112
             Sam              111
Action       John             252
             Jack             187
             Frank            149
             James            147
             Joe              105
             Tom              101
             Sam               96
             Michael           90
             Jim               85
             Bill              84

In [10]:
# rename the genre 'Romance Film' to 'Romance'
top10_name_top5_genre.reset_index(inplace=True)
top10_name_top5_genre.loc[top10_name_top5_genre['genre'] == 'Romance Film', 'genre'] = 'Romance'
top10_name_top5_genre.set_index(['genre', 'char_name'], inplace=True)
display(top10_name_top5_genre.sample(2))

                  nb_movies
genre  char_name
Comedy Tom              165
       Sam              181

Let's compute the percentages. First lets compute the total number of movie per genre

In [11]:
display(char_name_per_movie_with_genre)

# count the number of movie per genre
nb_movies_per_genre = char_name_per_movie_with_genre.reset_index().groupby('genre')['movie_id'].count().to_frame()
nb_movies_per_genre.columns = ['total_nb_movies']

# replace the genre "Romance Film" by "Romance" in the nb_movies_per_genre dataframe
nb_movies_per_genre.reset_index(inplace=True)
nb_movies_per_genre.loc[nb_movies_per_genre['genre'] == 'Romance Film', 'genre'] = 'Romance'
nb_movies_per_genre.set_index('genre', inplace=True)
display(nb_movies_per_genre)

# add total number of movies per genre in a new column of char_name_per_movie_with_genre
top10_name_top5_genre_with_percent = top10_name_top5_genre.reset_index().merge(nb_movies_per_genre, on='genre', how='left').copy(deep=True)

# compute the percentage of movies per genre for each name and add it in a new column of top10_name_top5_genre
top10_name_top5_genre_with_percent['percentage'] = top10_name_top5_genre_with_percent['nb_movies'] / top10_name_top5_genre_with_percent['total_nb_movies']
display(top10_name_top5_genre_with_percent)

               genre char_name  movie_id
0             Action      Gold      3217
1             Comedy      Gold      3217
2        Time travel      Gold      3217
3       Black comedy      Gold      3217
4        Zombie Film      Gold      3217
...              ...       ...       ...
739920   Comedy film      Ajay  37478048
739921         Drama    Murphy  37501922
739922         Drama    Hunter  37501922
739923         Drama      John  37501922
739924         Drama     Craig  37501922

[739925 rows x 3 columns]

                       total_nb_movies
genre
Absurdism                          712
Acid western                        29
Action                           30904
Action Comedy                      959
Action Thrillers                  2704
...                                ...
Women in prison films               51
Workplace Comedy                   641
World cinema                     14972
Wuxia                              133
Zombie Film                        666

[339 rows x 1 columns]

       genre char_name  nb_movies  total_nb_movies  percentage
0      Drama      John        701            93752    0.007477
1      Drama      Jack        426            93752    0.004544
2      Drama      Mary        379            93752    0.004043
3      Drama       Joe        338            93752    0.003605
4      Drama      Paul        334            93752    0.003563
5      Drama     Frank        333            93752    0.003552
6      Drama    George        325            93752    0.003467
7      Drama     David        324            93752    0.003456
8      Drama       Tom        307            93752    0.003275
9      Drama     James        280            93752    0.002987
10    Comedy      John        261            52944    0.004930
11    Comedy      Jack        249            52944    0.004703
12    Comedy       Joe        193            52944    0.003645
13    Comedy     Frank        187            52944    0.003532
14    Comedy    George        186            52944    0.003513
15    Comedy       Sam        181            52944    0.003419
16    Comedy      Mary        180            52944    0.003400
17    Comedy       Tom        165            52944    0.003117
18    Comedy       Bob        161            52944    0.003041
19    Comedy      Paul        152            52944    0.002871
20  Thriller      John        304            38968    0.007801
21  Thriller      Jack        246            38968    0.006313
22  Thriller     Frank        183            38968    0.004696
23  Thriller     James        152            38968    0.003901
24  Thriller     David        151            38968    0.003875
25  Thriller   Michael        151            38968    0.003875
26  Thriller       Tom        145            38968    0.003721
27  Thriller       Sam        141            38968    0.003618
28  Thriller      Paul        130            38968    0.003336
29  Thriller      Mike        127            38968    0.003259
30   Romance      John        233            36701    0.006349
31   Romance      Jack        146            36701    0.003978
32   Romance      Mary        142            36701    0.003869
33   Romance      Paul        129            36701    0.003515
34   Romance       Joe        127            36701    0.003460
35   Romance    George        125            36701    0.003406
36   Romance     David        117            36701    0.003188
37   Romance     Frank        113            36701    0.003079
38   Romance       Tom        112            36701    0.003052
39   Romance       Sam        111            36701    0.003024
40    Action      John        252            30904    0.008154
41    Action      Jack        187            30904    0.006051
42    Action     Frank        149            30904    0.004821
43    Action     James        147            30904    0.004757
44    Action       Joe        105            30904    0.003398
45    Action       Tom        101            30904    0.003268
46    Action       Sam         96            30904    0.003106
47    Action   Michael         90            30904    0.002912
48    Action       Jim         85            30904    0.002750
49    Action      Bill         84            30904    0.002718

In [12]:
# drop the total_nb_movies column
top10_name_top5_genre_with_percent.drop(columns=['total_nb_movies'], inplace=True)
top10_name_top5_genre_with_percent.set_index(['genre', 'char_name'], inplace=True)
display(top10_name_top5_genre_with_percent)

                    nb_movies  percentage
genre    char_name
Drama    John             701    0.007477
         Jack             426    0.004544
         Mary             379    0.004043
         Joe              338    0.003605
         Paul             334    0.003563
         Frank            333    0.003552
         George           325    0.003467
         David            324    0.003456
         Tom              307    0.003275
         James            280    0.002987
Comedy   John             261    0.004930
         Jack             249    0.004703
         Joe              193    0.003645
         Frank            187    0.003532
         George           186    0.003513
         Sam              181    0.003419
         Mary             180    0.003400
         Tom              165    0.003117
         Bob              161    0.003041
         Paul             152    0.002871
Thriller John             304    0.007801
         Jack             246    0.006313
         Frank            183    0.004696
         James            152    0.003901
         David            151    0.003875
         Michael          151    0.003875
         Tom              145    0.003721
         Sam              141    0.003618
         Paul             130    0.003336
         Mike             127    0.003259
Romance  John             233    0.006349
         Jack             146    0.003978
         Mary             142    0.003869
         Paul             129    0.003515
         Joe              127    0.003460
         George           125    0.003406
         David            117    0.003188
         Frank            113    0.003079
         Tom              112    0.003052
         Sam              111    0.003024
Action   John             252    0.008154
         Jack             187    0.006051
         Frank            149    0.004821
         James            147    0.004757
         Joe              105    0.003398
         Tom              101    0.003268
         Sam               96    0.003106
         Michael           90    0.002912
         Jim               85    0.002750
         Bill              84    0.002718

Each genre is a cluster of 10 names. In order to represent the genre on the plot, we add a supplementary node acting as label for the cluster.

In [13]:
# need to add a column to indicate if the node is a genre label node or not
top10_name_top5_genre_with_percent['is_genre'] = False

In [14]:
np.sqrt(np.square(top10_name_top5_genre_with_percent.loc['Action']['percentage']).sum())

0.014292908632405107

In [15]:
# get the unique genre in top10_name_top5_genre_with_percent
top5_genre = top10_name_top5_genre_with_percent.reset_index()['genre'].unique()

# create empty lists for each column
genre_lst = []
char_names_lst = []
nb_movies_lst = []
percentage_lst = []
is_genre_lst = []

for genre in top5_genre:
    genre_lst.append(genre)
    char_names_lst.append(genre)
    nb_movies_lst.append(nb_movies_per_genre.loc[genre]['total_nb_movies'])
    percentage_lst.append(np.sqrt(np.square(top10_name_top5_genre_with_percent.loc[genre]['percentage']).sum()))
    is_genre_lst.append(True)

# create the dataframe with new rows
new_rows_data = {'genre': genre_lst, 'char_name': char_names_lst, 'nb_movies': nb_movies_lst, 'percentage': percentage_lst, 'is_genre': is_genre_lst}
new_rows_df = pd.DataFrame(new_rows_data)

top10_name_top5_genre_with_genre_nodes = pd.concat([top10_name_top5_genre_with_percent.reset_index(), new_rows_df], axis=0)
top10_name_top5_genre_with_genre_nodes.set_index(['genre', 'char_name'], inplace=True)

display(top10_name_top5_genre_with_genre_nodes)

                    nb_movies  percentage  is_genre
genre    char_name
Drama    John             701    0.007477     False
         Jack             426    0.004544     False
         Mary             379    0.004043     False
         Joe              338    0.003605     False
         Paul             334    0.003563     False
         Frank            333    0.003552     False
         George           325    0.003467     False
         David            324    0.003456     False
         Tom              307    0.003275     False
         James            280    0.002987     False
Comedy   John             261    0.004930     False
         Jack             249    0.004703     False
         Joe              193    0.003645     False
         Frank            187    0.003532     False
         George           186    0.003513     False
         Sam              181    0.003419     False
         Mary             180    0.003400     False
         Tom              165    0.003117     False
         Bob              161    0.003041     False
         Paul             152    0.002871     False
Thriller John             304    0.007801     False
         Jack             246    0.006313     False
         Frank            183    0.004696     False
         James            152    0.003901     False
         David            151    0.003875     False
         Michael          151    0.003875     False
         Tom              145    0.003721     False
         Sam              141    0.003618     False
         Paul             130    0.003336     False
         Mike             127    0.003259     False
Romance  John             233    0.006349     False
         Jack             146    0.003978     False
         Mary             142    0.003869     False
         Paul             129    0.003515     False
         Joe              127    0.003460     False
         George           125    0.003406     False
         David            117    0.003188     False
         Frank            113    0.003079     False
         Tom              112    0.003052     False
         Sam              111    0.003024     False
Action   John             252    0.008154     False
         Jack             187    0.006051     False
         Frank            149    0.004821     False
         James            147    0.004757     False
         Joe              105    0.003398     False
         Tom              101    0.003268     False
         Sam               96    0.003106     False
         Michael           90    0.002912     False
         Jim               85    0.002750     False
         Bill              84    0.002718     False
Drama    Drama          93752    0.013221      True
Comedy   Comedy         52944    0.011618      True
Thriller Thriller       38968    0.014721      True
Romance  Romance        36701    0.012047      True
Action   Action         30904    0.014293      True

In [16]:
# add gender column
top10_name_top5_genre_with_genre_nodes['gender'] = 'm'
top10_name_top5_genre_with_genre_nodes.loc[(slice(None), 'Mary'), 'gender'] = 'f'
display(top10_name_top5_genre_with_genre_nodes)

                    nb_movies  percentage  is_genre gender
genre    char_name
Drama    John             701    0.007477     False      m
         Jack             426    0.004544     False      m
         Mary             379    0.004043     False      f
         Joe              338    0.003605     False      m
         Paul             334    0.003563     False      m
         Frank            333    0.003552     False      m
         George           325    0.003467     False      m
         David            324    0.003456     False      m
         Tom              307    0.003275     False      m
         James            280    0.002987     False      m
Comedy   John             261    0.004930     False      m
         Jack             249    0.004703     False      m
         Joe              193    0.003645     False      m
         Frank            187    0.003532     False      m
         George           186    0.003513     False      m
         Sam              181    0.003419     False      m
         Mary             180    0.003400     False      f
         Tom              165    0.003117     False      m
         Bob              161    0.003041     False      m
         Paul             152    0.002871     False      m
Thriller John             304    0.007801     False      m
         Jack             246    0.006313     False      m
         Frank            183    0.004696     False      m
         James            152    0.003901     False      m
         David            151    0.003875     False      m
         Michael          151    0.003875     False      m
         Tom              145    0.003721     False      m
         Sam              141    0.003618     False      m
         Paul             130    0.003336     False      m
         Mike             127    0.003259     False      m
Romance  John             233    0.006349     False      m
         Jack             146    0.003978     False      m
         Mary             142    0.003869     False      f
         Paul             129    0.003515     False      m
         Joe              127    0.003460     False      m
         George           125    0.003406     False      m
         David            117    0.003188     False      m
         Frank            113    0.003079     False      m
         Tom              112    0.003052     False      m
         Sam              111    0.003024     False      m
Action   John             252    0.008154     False      m
         Jack             187    0.006051     False      m
         Frank            149    0.004821     False      m
         James            147    0.004757     False      m
         Joe              105    0.003398     False      m
         Tom              101    0.003268     False      m
         Sam               96    0.003106     False      m
         Michael           90    0.002912     False      m
         Jim               85    0.002750     False      m
         Bill              84    0.002718     False      m
Drama    Drama          93752    0.013221      True      m
Comedy   Comedy         52944    0.011618      True      m
Thriller Thriller       38968    0.014721      True      m
Romance  Romance        36701    0.012047      True      m
Action   Action         30904    0.014293      True      m

# Export the dataframes

In [17]:
# Export top10_name_top5_genre.csv
display(top10_name_top5_genre_with_genre_nodes.reset_index().sample(2))
top10_name_top5_genre_with_genre_nodes.to_csv(os.path.join(processed_website_data_folder, 'top10_name_top5_genre.csv'), index=True)

     genre char_name  nb_movies  percentage  is_genre gender
13  Comedy     Frank        187    0.003532     False      m
8    Drama       Tom        307    0.003275     False      m