1) comment on catÃ©goriser le taux d'influence: t-stat
2) is movie significant ? -> p-value
3) same release year for several movies -> keep the one that is the most rated (number of ratings)
4) keep categories of 5 : top 5, most 5 popular movies which are not significant, bottom 5
5) remove all movies that have less than 100 ratings (to be determined maybe we discard too many movies or too litte...)
6) remove all characters that have an order below the median (or mean) of the number of character in the movie.
7) Careful : the number of movies with significant impact on baby names may drop a lot due to the point 5 and 6
8) the point 5 and 6 must be done also for the global study and not only for the website interactive heading (TO BE DISCUSSED!!)

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

# New code

In [2]:
folder_processed_data_path = './processed_data/'
processed_website_data_folder = './processed_data/website/'

In [3]:
# import the name by movie
name_by_movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'name_by_movie_ordered_pvalue_10_5_df.csv'))
name_by_movie_df.set_index(['wiki_ID', 'char_words', 'gender'], inplace=True)
display(name_by_movie_df.sample(2))

# import the movie dataframe
movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'movie_df.csv'))
movie_df.set_index(['wiki_ID'], inplace=True)
display(movie_df.sample(2))

                            order   p_value  slope_change    t_stat
wiki_ID  char_words gender
14935392 Deuce      NaN       NaN       NaN           NaN       NaN
1522855  Haskell    M        11.0  0.894676     -0.000014  0.135485

,mov_name,year,month,revenue,numVotes,averageRating,poster_url
wiki_ID,,,,,,,
28745625,Batasari,1961,7.0,NaN,19,5.9,NaN
2095464,Mirch Masala,1985,NaN,NaN,1523,7.7,/j7vOnZuTnr420zdw3LDIq7froce.jpg

## Compute `movie_impact` dataframe

In [4]:
# given name by user
chosen_name = 'trinity'

First, let's compute the 5 years with the most change in the babies for the chosen name.

In [5]:
# Remove useless columns
name_by_movie_web = name_by_movie_df.reset_index().copy(deep=True)
name_by_movie_web.drop(columns=['order', 't_stat'], inplace=True)
display(name_by_movie_web.sample(2))

         wiki_ID char_words gender  p_value  slope_change
61689    4242732     Harvey      M  0.88454     -0.000082
157329  29309335       Kavi      M      NaN           NaN

In [6]:
# drop gender column
len_before = len(name_by_movie_web)

name_by_movie_web.reset_index(inplace=True, drop=True)
name_by_movie_web.drop_duplicates(subset=['wiki_ID', 'char_words'], keep='first', inplace=True)
name_by_movie_web.drop(columns=['gender'], inplace=True)
name_by_movie_web.set_index(['char_words', 'wiki_ID'], inplace=True)

len_after = len(name_by_movie_web)
print(f"length : {len_before} -> {len_after}")
print(f"Is the indexing of name_by_movie_web unique? {name_by_movie_web.index.is_unique}")
display(name_by_movie_web.sample(2))

length : 172906 -> 167984
Is the indexing of name_by_movie_web unique? True

                      p_value  slope_change
char_words wiki_ID
Harper     23463534  0.997227 -8.334226e-07
Brink      6446044        NaN           NaN

In [7]:
# drop NaN values
len_before = len(name_by_movie_web)
name_by_movie_web.dropna(subset=['p_value'], inplace=True)
len_after = len(name_by_movie_web)
print(f"length : {len_before} -> {len_after}")

length : 167984 -> 116464

In [8]:
# Add the year of release of the movie to the name_by_movie_web dataframe

needed_movie_info = movie_df.reset_index()[['wiki_ID', 'year', 'averageRating', 'numVotes']].copy(deep=True)

len_before_merge = len(name_by_movie_web)
name_by_movie_with_info = name_by_movie_web.reset_index().merge(needed_movie_info, on='wiki_ID', how='left').copy(deep=True) # merge the release year into the name_by_movie_web dataframe
len_after_merge = len(name_by_movie_with_info)
print(f"length : {len_before_merge} -> {len_after_merge}")

name_by_movie_with_info.set_index(['char_words', 'wiki_ID'], inplace=True)
display(name_by_movie_with_info.sample(2))

length : 116464 -> 116464

                     p_value  slope_change  year  averageRating  numVotes
char_words wiki_ID
Clifford   952902   0.108558     -0.001012  2000            6.7      3831
Spencer    3599765  0.471155     -0.000429  1956            6.9      5767

In [9]:
# set the char_names in lowercase
name_by_movie_with_info.reset_index(inplace=True)
name_by_movie_with_info['char_words'] = name_by_movie_with_info['char_words'].str.lower()
name_by_movie_with_info.set_index(['char_words', 'wiki_ID'], inplace=True)
print(f"Length of name_by_movie_with_info : {len(name_by_movie_with_info)}")
display(name_by_movie_with_info.sample(2))

Length of name_by_movie_with_info : 116464

                      p_value  slope_change  year  averageRating  numVotes
char_words wiki_ID
sam        21678052  0.390860      0.000379  2010            5.1    256116
william    3662683   0.673892     -0.003222  2006            5.5     25100

In [10]:
# create the movie_impact dataframe
columns = ['name', 'status', 'movie_id']
movie_impact_df = pd.DataFrame(columns=columns)
display(movie_impact_df)

Empty DataFrame
Columns: [name, status, movie_id]
Index: []

### Functions to compute TOP/BOTTOM/INSIGN

In [11]:
def compute_top_movies(name, chosen_name_movies_top_df, movie_impact_df):
    for i in range(5): # from top1 to top5
        if(not chosen_name_movies_top_df.empty):
            # get the movies release the year with the highest positive variation
            top_i_year = chosen_name_movies_top_df.iloc[-1].year.astype(int)
            top_i_year_chosen_name_movies = chosen_name_movies_top_df.query(f'year == {top_i_year}').copy(deep=True)

            # keep only the three most popular movies
            top_i_year_chosen_name_movies.sort_values(by=['numVotes'], ascending=False, inplace=True)
            top_i_3_chosen_name_movies = top_i_year_chosen_name_movies.iloc[:3].copy(deep=True)

            # add the the three popular movies to the movie_impact_df
            for index, row in top_i_3_chosen_name_movies.iterrows():
                movie_impact_df.loc[len(movie_impact_df)] = {'name': name, 'status': 't', 'movie_id': index}

            # remove the found movies from the chosen_name_movies_top_df to avoid picking them again for next iterations
            chosen_name_movies_top_df.drop(top_i_year_chosen_name_movies.index, inplace=True)

            # remove also the movies release in the frame [-5 years, +5 years] of the top1_year
            chosen_name_movies_top_df.query(f'year < {top_i_year - 5} or year > {top_i_year + 5}', inplace=True)

In [12]:
def compute_bottom_movies(name, chosen_name_movies_bottom_df, movie_impact_df):
    for i in range(5): # from bottom1 to bottom5
        if(not chosen_name_movies_bottom_df.empty):
            # get the movies release the year with the highest negative variation
            bottom_i_year = chosen_name_movies_bottom_df.iloc[-1].year.astype(int)
            bottom_i_year_chosen_name_movies = chosen_name_movies_bottom_df.query(f'year == {bottom_i_year}').copy(deep=True)

            # keep only the three most popular movies
            bottom_i_year_chosen_name_movies.sort_values(by=['numVotes'], ascending=False, inplace=True)
            bottom_i_3_chosen_name_movies = bottom_i_year_chosen_name_movies.iloc[:3].copy(deep=True)

            # add the the three popular movies to the movie_impact_df
            for index, row in bottom_i_3_chosen_name_movies.iterrows():
                movie_impact_df.loc[len(movie_impact_df)] = {'name': name, 'status': 'b', 'movie_id': index}

            # remove the found movies from the chosen_name_movies_bottom_df to avoid picking them again for next iterations
            chosen_name_movies_bottom_df.drop(bottom_i_year_chosen_name_movies.index, inplace=True)

            # remove also the movies release in the frame [-5 years, +5 years] of the bottom_i_year
            chosen_name_movies_bottom_df.query(f'year < {bottom_i_year - 5} or year > {bottom_i_year + 5}', inplace=True)

In [13]:
def compute_insign_movies(name, chosen_name_movies_insign_df, movie_impact_df):
    for i in range(5): # from insign1 to insign5
        if(not chosen_name_movies_insign_df.empty):
            # get the movies release the year with the highest rating and number of votes
            insign_i_year = chosen_name_movies_insign_df.iloc[-1].year.astype(int)
            insign_i_year_chosen_name_movies = chosen_name_movies_insign_df.query(f'year == {insign_i_year}').copy(deep=True)

            # keep only the three most popular movies
            insign_i_3_chosen_name_movies = insign_i_year_chosen_name_movies.iloc[:3].copy(deep=True)

            # add the the three popular movies to the movie_impact_df
            for index, row in insign_i_3_chosen_name_movies.iterrows():
                movie_impact_df.loc[len(movie_impact_df)] = {'name': name, 'status': 'i', 'movie_id': index}

            # remove the found movies from the chosen_name_movies_top_df to avoid picking them again for next iterations
            chosen_name_movies_insign_df.drop(insign_i_year_chosen_name_movies.index, inplace=True)

            # remove also the movies release in the frame [-5 years, +5 years] of the top1_year
            chosen_name_movies_insign_df.query(f'year < {insign_i_year - 5} or year > {insign_i_year + 5}', inplace=True)

### Special case for a single name

In [ ]:
# get the movie containing the chosen name
chosen_name_movies_df = name_by_movie_with_info.loc[chosen_name, :].copy(deep=True)
display(chosen_name_movies_df)

In [ ]:
chosen_name_movies_df.sort_values(by=['slope_change'], inplace=True)
chosen_name_movies_top_df = chosen_name_movies_df.query('(slope_change > 0) and (p_value < 0.1)').copy(deep=True)
display(chosen_name_movies_top_df)

Do the loop to do the computation for top1 to top5

In [ ]:
compute_top_movies(chosen_name, chosen_name_movies_top_df, movie_impact_df)

display(movie_impact_df)

In [ ]:
chosen_name_movies_bottom_df = chosen_name_movies_df.query('(slope_change <= 0) and (p_value < 0.1)').copy(deep=True)
chosen_name_movies_bottom_df.sort_values(by=['slope_change'], ascending=False, inplace=True)
display(chosen_name_movies_bottom_df)

In [ ]:
compute_bottom_movies(chosen_name, chosen_name_movies_bottom_df, movie_impact_df)

display(movie_impact_df)

In [ ]:
remaining_chosen_name_movies_df = pd.concat([chosen_name_movies_top_df, chosen_name_movies_bottom_df])
chosen_name_movies_insign_df = remaining_chosen_name_movies_df.query('p_value > 0.1').copy(deep=True)
chosen_name_movies_insign_df.sort_values(by=['averageRating', 'numVotes'], inplace=True)
display(chosen_name_movies_insign_df)

In [ ]:
compute_insign_movies(chosen_name, chosen_name_movies_insign_df, movie_impact_df)
display(movie_impact_df)

In [ ]:
# check if there movie duplicates in the movie_impact_df
print(f"number of duplicates in movie_impact_df : {movie_impact_df.duplicated(subset=['movie_id']).sum()}")

### Generalize for all the names

In [14]:
# get all the names in the name_by_movie_with_info dataframe
names = name_by_movie_with_info.index.get_level_values(0).unique().tolist()
print(names)
print(f"Number of names : {len(names)}")

['linda', 'henry', 'duke', 'williams', 'sheila', 'arthur', 'eldon', 'lewis', 'leon', 'hannibal', 'rick', 'rachael', 'tyrell', 'roy', 'bryant', 'sebastian', 'lamarr', 'van', 'bart', 'lyle', 'buddy', 'johnson', 'von', 'sam', 'howard', 'harriett', 'lili', 'jim', 'don', 'dorothy', 'hunter', 'frank', 'jeffrey', 'raymond', 'ben', 'paul', 'barbara', 'sandy', 'mike', 'lyndon', 'barry', 'kimberly', 'murray', 'nicole', 'andy', 'benny', 'gary', 'cassandra', 'joyce', 'jennifer', 'merrick', 'edward', 'campbell', 'william', 'king', 'princess', 'robert', 'stephen', 'wallace', 'stewart', 'bruce', 'malcolm', 'prince', 'isabelle', 'james', 'alexander', 'gordon', 'vicki', 'carl', 'bob', 'harvey', 'alfred', 'cooper', 'morgan', 'miles', 'robin', 'harriet', 'lady', 'max', 'charles', 'haven', 'ivy', 'wilson', 'grayson', 'nora', 'julie', 'madison', 'burton', 'chase', 'eric', 'roosevelt', 'jerry', 'thompson', 'leland', 'mary', 'anderson', 'herbert', 'young', 'susan', 'foster', 'walter', 'bertha', 'carter', 'theodore', 'monroe', 'emily', 'norton', 'lien', 'jun', 'may', 'jade', 'master', 'de', 'sir', 'bo', 'yu', 'jennie', 'sybil', 'harold', 'lindsay', 'jackson', 'aubrey', 'andrew', 'jefferson', 'thomas', 'kate', 'miller', 'elliott', 'dietrich', 'lionel', 'jack', 'scott', 'general', 'major', 'randolph', 'benjamin', 'franz', 'nadine', 'johann', 'phillip', 'markus', 'monique', 'cheryl', 'shelly', 'brain', 'taylor', 'maggie', 'romero', 'marion', 'lou', 'curran', 'harris', 'rosa', 'alice', 'helena', 'bill', 'amanda', 'victor', 'nick', 'lisa', 'gayle', 'lee', 'lin', 'tania', 'ed', 'jake', 'joe', 'henrietta', 'bobby', 'annie', 'manny', 'laura', 'rodrigo', 'fiona', 'angus', 'tom', 'scarlett', 'david', 'bernard', 'lydia', 'matthew', 'gerald', 'carrie', 'gareth', 'george', 'ryan', 'elliot', 'jane', 'ross', 'gray', 'neil', 'murphy', 'leonard', 'davis', 'earl', 'jay', 'lawrence', 'nita', 'little', 'kane', 'stevenson', 'queen', 'antonio', 'miki', 'erika', 'emmy', 'kenji', 'steve', 'martin', 'fred', 'katelyn', 'tommy', 'kyle', 'gwen', 'dane', 'brandon', 'guy', 'kwan', 'jason', 'heather', 'betty', 'courtney', 'chandler', 'rodney', 'ram', 'dennis', 'kelly', 'dean', 'pauline', 'martha', 'kurt', 'peter', 'keith', 'veronica', 'dawson', 'gregory', 'stan', 'mandy', 'brian', 'jesus', 'matthias', 'harry', 'giovanni', 'joey', 'johnny', 'charlie', 'michael', 'tony', 'jimmy', 'oscar', 'diane', 'teresa', 'mario', 'tim', 'patsy', 'matthews', 'leslie', 'kathy', 'hart', 'karen', 'tobin', 'gracie', 'mei', 'louise', 'gene', 'nicki', 'camilla', 'adam', 'coco', 'rita', 'vincenzo', 'kenny', 'cynthia', 'lorraine', 'roque', 'neal', 'mabel', 'emil', 'sonny', 'dwight', 'mallory', 'wayne', 'grace', 'gale', 'mickey', 'london', 'roger', 'delmar', 'dan', 'junior', 'homer', 'penny', 'nelson', 'vernon', 'teague', 'everett', 'pete', 'yuri', 'augusta', 'russell', 'julia', 'jordan', 'billy', 'luis', 'jorge', 'alan', 'sara', 'shirley', 'walker', 'philippe', 'paris', 'maurice', 'pierre', 'german', 'san', 'kaya', 'ralph', 'janet', 'brad', 'rocky', 'eddie', 'webster', 'marlene', 'bud', 'kevin', 'archie', 'napoleon', 'rodriguez', 'otto', 'parnell', 'leila', 'kirk', 'beverly', 'alyssa', 'la', 'deanna', 'reginald', 'sean', 'lily', 'sloane', 'preston', 'carol', 'clark', 'marcus', 'stoney', 'terrell', 'montgomery', 'adrian', 'john', 'wade', 'parker', 'fallon', 'francis', 'daniel', 'stanley', 'richard', 'henderson', 'frederick', 'irwin', 'timothy', 'willie', 'west', 'catherine', 'pam', 'sally', 'franklin', 'brandt', 'marty', 'knox', 'jeffery', 'maude', 'donald', 'special', 'carla', 'mason', 'ernest', 'baxter', 'paxton', 'patrick', 'elaine', 'smith', 'robinson', 'claire', 'reed', 'allison', 'betsy', 'iris', 'travis', 'precious', 'clarice', 'ruth', 'crawford', 'barney', 'trinity', 'judy', 'helen', 'barbra', 'ventura', 'ginger', 'matt', 'reese', 'hal', 'connor', 'nancy', 'sarah', 'buck', 'jill', 'hamilton', 'jose', 'casey', 'cole', 'kathryn', 'dave', 'jody', 'jude', 'darren', 'vincent', 'collins', 'kyra', 'grey', 'anna', 'lynn', 'brooks', 'diamond', 'ellis', 'floyd', 'hadley', 'boyd', 'ernie', 'palmer', 'blair', 'norris', 'garry', 'geri', 'massimo', 'tracy', 'francine', 'salvatore', 'basil', 'edison', 'miracle', 'westley', 'valerie', 'montoya', 'sharon', 'elizabeth', 'brenda', 'danny', 'alvin', 'rose', 'crystal', 'darla', 'bernardo', 'chris', 'petra', 'hilario', 'britt', 'maria', 'stevens', 'pablo', 'alison', 'ransom', 'eve', 'austin', 'denise', 'eugene', 'elijah', 'price', 'audrey', 'joseph', 'tyler', 'gunther', 'ted', 'carson', 'larson', 'anthony', 'ronald', 'fitzgerald', 'emmett', 'olga', 'anders', 'karin', 'marianne', 'ira', 'jess', 'marie', 'julian', 'wellington', 'louis', 'cindy', 'aide', 'watson', 'conley', 'pat', 'mack', 'katherine', 'malvin', 'javier', 'manolo', 'rosario', 'ayala', 'francisco', 'ray', 'carlos', 'caroline', 'seth', 'montel', 'vanessa', 'eduardo', 'arturo', 'collier', 'juan', 'sanchez', 'oswald', 'long', 'shaw', 'liz', 'clay', 'marina', 'garrison', 'susie', 'al', 'andrews', 'warren', 'ivon', 'ann', 'ruby', 'norman', 'malky', 'jenny', 'presley', 'buford', 'forrest', 'wesley', 'elvis', 'margo', 'green', 'phil', 'mitchell', 'ginny', 'angel', 'holly', 'phyllis', 'york', 'cass', 'niles', 'milly', 'nina', 'jan', 'cassidy', 'darian', 'gina', 'rowland', 'morris', 'josh', 'rachel', 'mercedes', 'august', 'hisham', 'adele', 'lillian', 'arnold', 'lane', 'spence', 'holden', 'berlin', 'ken', 'skylar', 'steffi', 'angelo', 'sal', 'milton', 'alma', 'annette', 'judson', 'burke', 'dana', 'willow', 'myrtle', 'daisy', 'mac', 'terry', 'edie', 'doyle', 'charley', 'glover', 'katie', 'marla', 'natalie', 'willis', 'boy', 'freeman', 'hugo', 'josef', 'lamar', 'irene', 'jerome', 'caesar', 'anton', 'stella', 'goldie', 'sherman', 'berry', 'marvin', 'mikhail', 'dmitri', 'pavel', 'alexei', 'marshal', 'maxim', 'ali', 'bentley', 'nate', 'charlene', 'hugh', 'hanna', 'lauren', 'marciano', 'justine', 'fran', 'angela', 'carolyn', 'lester', 'hayes', 'berkley', 'ricky', 'dupree', 'christy', 'emile', 'zola', 'nino', 'georgette', 'lucien', 'suzanne', 'hipolito', 'dominique', 'madeleine', 'eva', 'rhonda', 'kitty', 'moses', 'troy', 'lexie', 'willy', 'jolene', 'rosita', 'rosanna', 'lynne', 'billie', 'bettina', 'noland', 'lev', 'maynard', 'graham', 'ramon', 'becca', 'virginia', 'elden', 'peterson', 'chuck', 'nicolai', 'wendy', 'ellie', 'felix', 'weston', 'mark', 'anne', 'percy', 'emma', 'shirl', 'gilbert', 'sol', 'tab', 'donovan', 'lindsey', 'hiram', 'virgil', 'lola', 'hortense', 'alexis', 'rico', 'marc', 'clarence', 'randy', 'rex', 'krishna', 'hillary', 'lara', 'lord', 'bryce', 'alex', 'luc', 'juliette', 'olivia', 'lilly', 'leia', 'luke', 'mace', 'lars', 'owen', 'dexter', 'natalia', 'jean', 'aleksandr', 'leo', 'sid', 'rusty', 'marjorie', 'calvert', 'molly', 'jacob', 'brock', 'patricia', 'constance', 'albert', 'miguel', 'alicia', 'julius', 'steven', 'marilyn', 'philip', 'jasmine', 'truman', 'quincy', 'willard', 'hannah', 'woody', 'julianna', 'rebecca', 'colleen', 'lynette', 'gianni', 'shelby', 'aaron', 'edmund', 'sofia', 'sera', 'terri', 'debbie', 'brody', 'jones', 'simon', 'jimmie', 'jules', 'bonnie', 'page', 'raquel', 'mamie', 'winston', 'honey', 'brett', 'mia', 'fabienne', 'butch', 'lance', 'stephanie', 'doreen', 'connie', 'gus', 'patrice', 'cleo', 'akeem', 'imani', 'darryl', 'quinn', 'robby', 'tiffany', 'melina', 'lori', 'douglas', 'baron', 'tion', 'anakin', 'cody', 'adolph', 'verna', 'tad', 'dale', 'frankie', 'reagan', 'bernie', 'beth', 'killian', 'katrina', 'garrett', 'jonathan', 'glenn', 'china', 'shan', 'yvonne', 'blaine', 'kenneth', 'kim', 'gretchen', 'thurman', 'donnie', 'lilian', 'samantha', 'eugenie', 'eleanor', 'gaines', 'melvin', 'marco', 'darien', 'ollie', 'larry', 'bishop', 'bailey', 'bert', 'violet', 'abel', 'melissa', 'margy', 'gideon', 'dorcas', 'liza', 'caleb', 'oran', 'shawn', 'eloise', 'sidney', 'harley', 'missouri', 'judge', 'blake', 'toby', 'mimi', 'clyde', 'hank', 'washington', 'charlotte', 'gabriel', 'oliver', 'nathan', 'clarissa', 'agatha', 'jeremy', 'arabella', 'nolan', 'marietta', 'abraham', 'suzette', 'dora', 'betsey', 'gladys', 'cornelius', 'bennett', 'vance', 'belle', 'armand', 'dixie', 'lucy', 'randall', 'judith', 'hattie', 'luther', 'powell', 'kay', 'manuela', 'esteban', 'marian', 'etta', 'thea', 'barton', 'benson', 'mable', 'alec', 'hubert', 'harrison', 'mae', 'curley', 'lennie', 'dallas', 'riley', 'coleman', 'erie', 'loretta', 'margaret', 'dinah', 'keller', 'male', 'noah', 'aidan', 'samara', 'henriette', 'zita', 'marcia', 'tanya', 'adair', 'monica', 'todd', 'becky', 'agnes', 'lenny', 'janice', 'enzo', 'johana', 'christiana', 'germaine', 'roland', 'ector', 'thatcher', 'jocelyn', 'philippa', 'marcel', 'herman', 'mila', 'oskar', 'emilie', 'amon', 'rufus', 'baker', 'margie', 'dallin', 'hans', 'porter', 'georgie', 'avery', 'armin', 'karl', 'amy', 'jackie', 'alden', 'meredith', 'rob', 'lacey', 'duane', 'scarlet', 'nico', 'delores', 'tracey', 'storm', 'adams', 'tate', 'gino', 'rica', 'jennings', 'carlton', 'taft', 'hassan', 'grant', 'millie', 'orin', 'latrell', 'sasha', 'holland', 'harding', 'urban', 'angelique', 'samuel', 'louisa', 'wilbur', 'ida', 'hollis', 'evelyn', 'duffy', 'sophie', 'christina', 'kirby', 'ron', 'sophia', 'isaac', 'laurie', 'curt', 'rich', 'kit', 'jakie', 'blanche', 'velma', 'ivan', 'jamal', 'salim', 'khaled', 'aziz', 'spencer', 'annabelle', 'gennaro', 'ian', 'juanito', 'lex', 'kami', 'thornton', 'beryl', 'royal', 'dolly', 'prentice', 'hilary', 'tillie', 'vladimir', 'alia', 'duncan', 'chani', 'jessica', 'kirsty', 'merrill', 'jafar', 'genie', 'sultan', 'gerard', 'gabrielle', 'minnie', 'lehman', 'fritz', 'elmer', 'aloysius', 'jonas', 'butler', 'clara', 'kendall', 'tina', 'raheem', 'love', 'clifton', 'vito', 'greg', 'joanne', 'wyatt', 'enrique', 'harper', 'jaime', 'monte', 'lupe', 'roderick', 'zona', 'arden', 'aura', 'kent', 'chester', 'venus', 'cleopatra', 'frieda', 'hercules', 'roscoe', 'magdalene', 'christ', 'rocco', 'ola', 'geary', 'starr', 'pierce', 'colby', 'mildred', 'will', 'louie', 'hartwell', 'sanders', 'mollie', 'beck', 'victory', 'zeb', 'jeb', 'cleve', 'jethro', 'stuart', 'linus', 'prescott', 'ramsey', 'theodora', 'archibald', 'spiro', 'layton', 'vaughn', 'christine', 'gardner', 'ellen', 'priscilla', 'lassie', 'jacy', 'marlow', 'lois', 'waldo', 'bessie', 'hardy', 'valentine', 'jeremiah', 'yale', 'alonzo', 'esther', 'lon', 'colonel', 'lucille', 'ballard', 'truett', 'trudy', 'norval', 'modesta', 'jolly', 'brown', 'granville', 'ike', 'clementine', 'angelica', 'godfrey', 'carlo', 'cornelia', 'ethel', 'johnnie', 'lina', 'isobel', 'reggie', 'kemp', 'delbert', 'linnea', 'opal', 'joan', 'pearl', 'gay', 'dwayne', 'sue', 'otis', 'katy', 'carmine', 'chip', 'birdie', 'willa', 'walt', 'sterling', 'jeff', 'kathie', 'meta', 'fletcher', 'terrill', 'jamie', 'georges', 'le', 'raphael', 'marquise', 'santino', 'lena', 'baby', 'raoul', 'dolores', 'allen', 'cookie', 'buzz', 'cliff', 'garth', 'gil', 'bradley', 'irving', 'ethan', 'mose', 'clayton', 'dina', 'vic', 'marcy', 'rollie', 'grafton', 'shane', 'desmond', 'norma', 'artie', 'gillis', 'lilia', 'derek', 'jo', 'jacqui', 'april', 'marshall', 'dorsey', 'rod', 'gavin', 'midge', 'bunny', 'dutch', 'freddie', 'marlowe', 'craig', 'josie', 'margot', 'anita', 'dixon', 'berta', 'lupita', 'ronnie', 'leopold', 'morton', 'evans', 'antoine', 'therese', 'jeanne', 'bernadette', 'bridget', 'golden', 'hilton', 'sigmund', 'deborah', 'stacy', 'elyse', 'davy', 'christian', 'winifred', 'brady', 'benedict', 'polly', 'viet', 'dudley', 'doris', 'gertrude', 'ophelia', 'abner', 'burdette', 'consuela', 'che', 'mina', 'dick', 'barth', 'paula', 'rudolf', 'eli', 'trey', 'lizzie', 'tasha', 'rochelle', 'teddy', 'ace', 'vince', 'denny', 'vern', 'milo', 'viola', 'ned', 'florence', 'simone', 'ferris', 'jeanie', 'cameron', 'gillian', 'timon', 'abbie', 'frances', 'antonia', 'kylie', 'mikey', 'archer', 'ibn', 'ahmed', 'mel', 'bella', 'kai', 'freddy', 'fernandez', 'humphrey', 'adeline', 'flo', 'rosemary', 'irma', 'eileen', 'lloyd', 'romaine', 'cullen', 'nell', 'ella', 'ernst', 'rolfe', 'rudolph', 'haywood', 'levy', 'conrad', 'cain', 'marci', 'cecile', 'clifford', 'hope', 'zack', 'cristal', 'carey', 'samir', 'drew', 'joanna', 'alessandro', 'cesar', 'augusto', 'kristina', 'diego', 'mirtha', 'franco', 'theo', 'diana', 'tonya', 'alexandra', 'link', 'bethany', 'blossom', 'lucky', 'juliet', 'logan', 'macon', 'female', 'sandra', 'delano', 'rafe', 'alain', 'angie', 'tatiana', 'nicholas', 'anastasia', 'faith', 'jeanine', 'nigel', 'belinda', 'denis', 'bobbi', 'mick', 'tucker', 'xavier', 'minerva', 'darwin', 'payne', 'debby', 'turner', 'mitch', 'miriam', 'marcellus', 'horatio', 'reynaldo', 'marcella', 'tricia', 'dante', 'justice', 'brodie', 'brent', 'randal', 'chrissy', 'missy', 'jeannie', 'cash', 'sydney', 'adelle', 'lonnie', 'gentry', 'doug', 'laureen', 'garfield', 'kip', 'geoffrey', 'katharine', 'hana', 'marguerite', 'chad', 'faye', 'del', 'dolan', 'horace', 'tex', 'erich', 'saul', 'jeannette', 'erica', 'patti', 'suzy', 'cyril', 'leona', 'landon', 'reuben', 'rae', 'noble', 'griffin', 'apollo', 'freda', 'andreas', 'gail', 'elton', 'dionne', 'cher', 'amber', 'wendell', 'tai', 'ashton', 'madeline', 'vivian', 'dakota', 'thelma', 'harlan', 'darcy', 'park', 'gigi', 'erin', 'steele', 'jeannine', 'calvin', 'jarrett', 'sloan', 'ward', 'kendal', 'galvin', 'patty', 'aurora', 'rosie', 'rene', 'wally', 'edna', 'elias', 'tatum', 'soren', 'persephone', 'kali', 'jewel', 'clive', 'dawn', 'ronny', 'perry', 'susanna', 'clinton', 'oren', 'tess', 'gloria', 'dalton', 'noel', 'dee', 'terence', 'sadie', 'elgin', 'rolando', 'jensen', 'hagen', 'dominic', 'gaston', 'meyer', 'luciano', 'delilah', 'davey', 'trent', 'donna', 'slade', 'lucas', 'flora', 'ada', 'jad', 'clarke', 'evanna', 'solomon', 'blue', 'nevada', 'emilio', 'reno', 'buster', 'lovell', 'sy', 'esme', 'ferdinand', 'beatrice', 'elinor', 'fanny', 'christopher', 'scotty', 'tyson', 'laurel', 'jesse', 'suzie', 'ashley', 'sonia', 'muriel', 'sylvia', 'cecil', 'susannah', 'sheryl', 'cathy', 'krystyn', 'star', 'lana', 'bracken', 'duc', 'isabel', 'elena', 'guido', 'eliseo', 'rodolfo', 'lowell', 'liane', 'luca', 'elsie', 'lavinia', 'denton', 'rupert', 'warner', 'victoria', 'jenner', 'ely', 'emanuel', 'diva', 'judd', 'amalia', 'lanie', 'tomas', 'ezra', 'eduard', 'andie', 'sutton', 'emery', 'frazier', 'lincoln', 'selena', 'farrell', 'bascom', 'claude', 'rock', 'maximilian', 'brant', 'jameson', 'jonah', 'mi', 'mustafa', 'nova', 'harmon', 'zeke', 'edsel', 'stacey', 'roxanne', 'brandi', 'keisha', 'trina', 'reva', 'yvette', 'pandora', 'juanita', 'sharika', 'toi', 'georgia', 'gustav', 'damian', 'desire', 'miranda', 'troi', 'curtis', 'bambi', 'eden', 'kathleen', 'schuyler', 'son', 'nathaniel', 'rudy', 'roman', 'justin', 'martia', 'chang', 'nixon', 'kirsten', 'arletta', 'pepper', 'mattie', 'ulysses', 'marita', 'ruben', 'seamus', 'gregor', 'natacha', 'deirdre', 'pasquale', 'antonietta', 'hilda', 'johanna', 'chauncey', 'rand', 'kirkland', 'stanford', 'burt', 'megan', 'ajay', 'jared', 'devon', 'zan', 'sumner', 'sun', 'thalia', 'demetrius', 'hermes', 'cal', 'cedric', 'mathieu', 'drake', 'vicky', 'ava', 'sonya', 'tanner', 'renard', 'valentin', 'claudia', 'marius', 'newton', 'edgar', 'lucinda', 'cyrus', 'keaton', 'theresa', 'marlon', 'geneva', 'hayden', 'amos', 'janelle', 'kennedy', 'carmen', 'tuan', 'brennen', 'richie', 'pamela', 'boris', 'joi', 'wallis', 'elwood', 'sunny', 'andrea', 'danielle', 'cady', 'leigh', 'peggy', 'celia', 'pearce', 'paulette', 'darlene', 'sully', 'russ', 'rowena', 'monty', 'marsha', 'melinda', 'vaughan', 'althea', 'arlo', 'jewell', 'jessie', 'dewey', 'chance', 'markie', 'rogers', 'evan', 'glen', 'lamont', 'daryl', 'davina', 'della', 'myron', 'rubin', 'hazel', 'emmet', 'omer', 'edith', 'willem', 'sade', 'renee', 'marquis', 'abbe', 'latina', 'hoyt', 'muhammad', 'cassius', 'timmy', 'jasper', 'ingrid', 'booker', 'augustus', 'glenda', 'shilo', 'donnell', 'selina', 'amelia', 'lila', 'collie', 'carole', 'thadeus', 'alexa', 'takashi', 'mai', 'bertram', 'bartlett', 'blythe', 'werner', 'quinton', 'hawk', 'brandy', 'howell', 'conway', 'bayley', 'stone', 'brennan', 'damien', 'fairy', 'hudson', 'myra', 'rosalie', 'skipper', 'sunshine', 'raleigh', 'mohamed', 'martinez', 'bradford', 'giovanna', 'mauro', 'tyrone', 'donny', 'keeley', 'wilfred', 'adriana', 'cruz', 'amir', 'maxwell', 'wilma', 'pebbles', 'demetra', 'cortez', 'devlin', 'gregorio', 'judas', 'magdalen', 'nicodemus', 'julio', 'ana', 'silvia', 'cecilia', 'luisa', 'alejandro', 'eugenia', 'manuel', 'lucero', 'flint', 'sullivan', 'gertie', 'roxie', 'bowen', 'bree', 'caitlin', 'orville', 'bianca', 'june', 'mona', 'flynn', 'nickie', 'michele', 'romy', 'julien', 'romeo', 'laurence', 'sampson', 'paolo', 'laurent', 'dayton', 'candace', 'tully', 'barrett', 'janine', 'angelina', 'cutter', 'morrison', 'clemmie', 'hayward', 'doran', 'rory', 'eddy', 'danni', 'serge', 'gerry', 'daniella', 'luigi', 'seymour', 'mackenzie', 'carlyn', 'annalee', 'wren', 'christie', 'perez', 'sabra', 'dillon', 'cera', 'chan', 'martel', 'andre', 'lulu', 'ming', 'nicolo', 'nicolas', 'marley', 'ursula', 'henri', 'sylvie', 'layla', 'ty', 'tod', 'rivers', 'christa', 'chaney', 'toni', 'ramona', 'webb', 'garland', 'mathew', 'phillips', 'chas', 'clair', 'dusty', 'ari', 'candy', 'wanda', 'celeste', 'clint', 'roberta', 'saundra', 'reilly', 'charleston', 'zebulon', 'ludwig', 'robbie', 'blain', 'lawson', 'richmond', 'melanie', 'montana', 'tabatha', 'dorothea', 'thurston', 'vivien', 'simeon', 'meryl', 'terrance', 'baldwin', 'brooke', 'noelle', 'brittany', 'michelle', 'egan', 'bruno', 'chandra', 'rianne', 'joshua', 'trish', 'elisabeth', 'russel', 'grover', 'shannon', 'wendel', 'jed', 'brendan', 'ally', 'baylor', 'francois', 'percival', 'mitchel', 'secret', 'andrei', 'robie', 'sheldon', 'jacques', 'coral', 'marlin', 'val', 'shelley', 'holt', 'renata', 'colin', 'crispin', 'kelli', 'nicky', 'gwyneth', 'chet', 'nadia', 'krystal', 'cadence', 'felicity', 'ivana', 'scottie', 'gilda', 'livia', 'guillermo', 'thaddeus', 'celine', 'zoe', 'chaz', 'heath', 'santos', 'lula', 'dell', 'tran', 'edwin', 'nguyen', 'hector', 'norm', 'hampton', 'meena', 'neville', 'mavis', 'barret', 'coy', 'terrence', 'bronson', 'elsa', 'erik', 'pascal', 'dieter', 'lorna', 'irish', 'dylan', 'houston', 'selma', 'janie', 'tammy', 'greta', 'frida', 'vera', 'antony', 'emmanuel', 'libby', 'gill', 'marnie', 'bernice', 'hezekiah', 'hester', 'phoebe', 'omar', 'alberto', 'elvira', 'chi', 'natalya', 'irina', 'xenia', 'raj', 'simran', 'preeti', 'marcela', 'helene', 'abby', 'julianne', 'joanie', 'magda', 'delany', 'decker', 'vinny', 'edwina', 'jin', 'eris', 'kale', 'cheyenne', 'mariana', 'declan', 'dimitri', 'jarvis', 'cherry', 'pedro', 'peg', 'jock', 'fabio', 'sherry', 'tarrance', 'tommie', 'lambert', 'jubilee', 'mystique', 'gia', 'wilhelmina', 'cy', 'vy', 'hanson', 'aron', 'dianne', 'pryce', 'ricki', 'maxie', 'delia', 'nettie', 'dottie', 'misty', 'anabel', 'raja', 'wilfrid', 'nellie', 'merle', 'kiri', 'nader', 'allegra', 'viviane', 'milan', 'nash', 'tenia', 'felipe', 'elle', 'sofie', 'beatrix', 'alana', 'ariel', 'chico', 'sinclair', 'stanton', 'elvin', 'siri', 'abdul', 'esmeralda', 'dustin', 'allan', 'meg', 'hiroki', 'matilda', 'maury', 'hansel', 'bartholomew', 'kala', 'chadwick', 'asa', 'ritchie', 'kiara', 'huston', 'marybeth', 'gabe', 'carlotta', 'portia', 'florine', 'samson', 'valjean', 'bilal', 'lora', 'wells', 'yang', 'millard', 'alva', 'carver', 'inga', 'kira', 'sky', 'nana', 'breeze', 'sammy', 'candice', 'deidre', 'channing', 'giselle', 'anamaria', 'maya', 'cora', 'charity', 'humberto', 'orlando', 'tia', 'blaire', 'charlton', 'lino', 'giuseppe', 'barbie', 'marino', 'quincey', 'rylan', 'manning', 'claudius', 'michel', 'alpha', 'nada', 'corwin', 'finn', 'rance', 'harlen', 'abigail', 'lafayette', 'adelaide', 'tremain', 'wolf', 'mandel', 'arlene', 'jon', 'chapman', 'tito', 'brie', 'maxine', 'tami', 'vickie', 'wes', 'regina', 'len', 'art', 'merlin', 'imad', 'angelic', 'katya', 'kasper', 'alisa', 'ski

In [15]:
iter = 0
for name in names:
    print(f"Number of name treated: {iter}", end='\r', flush=True)
    # get the movie containing the chosen name
    chosen_name_movies_df = name_by_movie_with_info.loc[name, :].copy(deep=True)

    # sort the movies by slope_change, get movies with significant p_value and positive slope_change and compute the top 5
    chosen_name_movies_df.sort_values(by=['slope_change'], inplace=True)
    chosen_name_movies_top_df = chosen_name_movies_df.query('(slope_change > 0) and (p_value < 0.1)').copy(deep=True)
    # display(chosen_name_movies_top_df)
    compute_top_movies(name, chosen_name_movies_top_df, movie_impact_df)

    # sort the movies by slope_change, get movies with significant p_value and negative slope_change and compute the bottom 5
    chosen_name_movies_bottom_df = chosen_name_movies_df.query('(slope_change <= 0) and (p_value < 0.1)').copy(deep=True)
    chosen_name_movies_bottom_df.sort_values(by=['slope_change'], ascending=False, inplace=True)
    compute_bottom_movies(name, chosen_name_movies_bottom_df, movie_impact_df)

    # get the remaining movies and filter to keep only the insignificant ones and compute the insign 5
    # remaining_chosen_name_movies_df = pd.concat([chosen_name_movies_top_df, chosen_name_movies_bottom_df])
    chosen_name_movies_insign_df = chosen_name_movies_df.query('p_value > 0.1').copy(deep=True)
    chosen_name_movies_insign_df.sort_values(by=['averageRating', 'numVotes'], inplace=True)
    compute_insign_movies(name, chosen_name_movies_insign_df, movie_impact_df)
    
    iter = iter + 1

In [36]:
# movie_impact_df.set_index(['name', 'status'], inplace=True)
display(movie_impact_df)

# Export DataFrame to a CSV file in the processed data folder
# movie_impact_df.reset_index(drop=True).sort_values(by=['name', 'status']).to_csv(os.path.join(processed_website_data_folder, 'movie_impact.csv'), index=False)

                   movie_id
name       status
linda      t       14350910
           b        4070671
           b        9956825
           b        2212664
           b       28288095
...                     ...
serene     i       36544941
kathrine   i       36546325
zelma      i       36598217
beauregard b       36699915
carlina    i       37196243

[27854 rows x 1 columns]

### Import `movie_impact` dataframe to avoid timeconsuming computation

In [ ]:
# import the movie_impact_df to avoid the time-consuming computation of movie_impact_df
imported_movie_impact_df = pd.read_csv(os.path.join(processed_website_data_folder, 'movie_impact.csv'))
imported_movie_impact_df.set_index(['name', 'status'], inplace=True)
display(imported_movie_impact_df)

In [ ]:
# Check for NaN values in the name column
contains_nan = imported_movie_impact_df.reset_index()['name'].isna().any()

if contains_nan:
    print("The `name` column contains NaN values.")
else:
    print("The `name` column does not contain NaN values.")

In [ ]:
# drop NaN values in the name column
print(f"Length of imported_movie_impact_df before dropping NaN values : {len(imported_movie_impact_df)}")
imported_movie_impact_df.reset_index(inplace=True)
imported_movie_impact_df.dropna(subset=['name'], inplace=True)
imported_movie_impact_df.set_index(['name', 'status'], inplace=True)
print(f"Length of imported_movie_impact_df after dropping NaN values : {len(imported_movie_impact_df)}")

display(imported_movie_impact_df)
movie_impact_df = imported_movie_impact_df.copy(deep=True)

## Compute `name_per_year` dataframe

In [18]:
# import the babynames dataframe
name_per_year = pd.read_csv(os.path.join(folder_processed_data_path, 'baby_name_df.csv'))
name_per_year.drop(columns='number', inplace=True)
name_per_year.set_index(['name', 'year'], inplace=True)
print(f"Is the indexing of name_per_year unique? {name_per_year.index.is_unique}")
display(name_per_year.sample(2))
print(f"Length of the name_per_year_df : {len(name_per_year)}")

Is the indexing of name_per_year unique? True

               percentage
name     year
Burley   1924    0.001596
Alondria 1985    0.000196

Length of the name_per_year_df : 1903290

In [19]:
# round the percentage values to reduce the size of the future csv file for the web
name_per_year['percentage'] = name_per_year['percentage'].round(6)

# set the names in lowercases
name_per_year.reset_index(inplace=True)
name_per_year['name'] = name_per_year['name'].str.lower()
name_per_year.set_index(['name', 'year'], inplace=True)

display(name_per_year.sample(2))
print(f"Length of the name_per_year_df : {len(name_per_year)}")

             percentage
name   year
shar   1969    0.000230
genaro 1941    0.001272

Length of the name_per_year_df : 1903290

In [23]:
# filter the name_per_year_df to keep only the names in the movie_impact_df
name_per_year_filtered = name_per_year.loc[movie_impact_df['name'].unique().tolist(), :].copy(deep=True)
name_per_year = name_per_year_filtered.copy(deep=True)

In [24]:
# Let's sort the dataframe name_per_year to anticipate the ploting
name_per_year.sort_values(by=['name', 'year'], inplace=True)
display(name_per_year.head(15))

            percentage
name  year
aadam 1987    0.000139
      1988    0.000135
      1993    0.000186
      1994    0.000161
      1995    0.000164
      1996    0.000137
      1997    0.000138
      1998    0.000218
      1999    0.000135
      2000    0.000159
      2002    0.000294
      2003    0.000263
      2004    0.000236
      2005    0.000156
      2006    0.000228

Let's check if the names present in name_per_year dataframe are also present in the name_by_movie dataframe

In [25]:
# Identify names in name_per_year not present in name_by_movie
values_only_in_name_per_year = name_per_year.reset_index()[~name_per_year.reset_index()['name'].isin(name_by_movie_with_info.reset_index()['char_words'])]['name'].unique()

print(f"Number of unique names in name_per_year  = {len(name_per_year.reset_index()['name'].unique())}")

# Display the result
print("Values in name_per_year but not present in name_by_movie:")
print(values_only_in_name_per_year)
print(f"Number of names missing  = {len(values_only_in_name_per_year)}")

Number of unique names in name_per_year  = 6034
Values in name_per_year but not present in name_by_movie:
[]
Number of names missing  = 0

In [26]:
# Identify names in name_by_movie not present in name_per_year
values_only_in_name_by_movie = name_by_movie_with_info.reset_index()[~name_by_movie_with_info.reset_index()['char_words'].isin(name_per_year.reset_index()['name'])]['char_words'].unique()

print(f"Number of unique names in name_by_movie_with_info  = {len(name_by_movie_with_info.reset_index()['char_words'].unique())}")

# Display the result
print("Values in name_by_movie_with_info but not present in name_per_year:")
print(values_only_in_name_by_movie)
print(f"Number of names missing  = {len(values_only_in_name_by_movie)}")

Number of unique names in name_by_movie_with_info  = 6034
Values in name_by_movie_with_info but not present in name_per_year:
[]
Number of names missing  = 0

Compute the number of names in the three dataframes in order to compare

In [30]:
# compute how many unique names are there in the dataframes to compare
names_in_name_per_year = name_per_year.index.get_level_values(0).unique().tolist()
print(f"Number of unique names in name_per_year = {len(names_in_name_per_year)}")
names_in_movie_impact = movie_impact_df.reset_index()['name'].unique().tolist()
print(f"Number of unique names in movie_impact_df = {len(names_in_movie_impact)}")
names_in_name_by_movie_with_info = name_by_movie_with_info.reset_index()['char_words'].unique().tolist()
print(f"Number of unique names in name_by_movie_with_info = {len(names_in_name_by_movie_with_info)}")

Number of unique names in name_per_year = 6034
Number of unique names in movie_impact_df = 6034
Number of unique names in name_by_movie_with_info = 6034

## Compute `movies` dataframe
This dataset contains the information relative to the movie given its `wiki_ID`.

In [32]:
print(f"Number of movies in movie_impact_df : {len(movie_impact_df['movie_id'].unique())}")
# keep only the movies in the movie_df that are in the movie_impact_df
simplified_movie_df = movie_df.loc[movie_impact_df['movie_id'].unique().tolist(), :].copy(deep=True)
print(f"Number of movies kept in movie_df: {len(simplified_movie_df)}")
display(simplified_movie_df.sample(2))

Number of movies in movie_impact_df : 13953
Number of movies kept in movie_df: 13953

,mov_name,year,month,revenue,numVotes,averageRating,poster_url
wiki_ID,,,,,,,
5980485,Polish Wedding,1998,1.0,600294.0,3401,5.5,/36De1BxBBzXyJ1eYVQlIoTUIwQm.jpg
27988012,Vaanam,2011,4.0,NaN,1914,7.3,/kE9kN2iFaM77suP00RHYMOoqUos.jpg

## Export the three datasets

In [37]:
# Export movie_impact.csv
display(movie_impact_df.reset_index().sample(2))
movie_impact_df.reset_index().to_csv(os.path.join(processed_website_data_folder, 'movie_impacts.csv'), index=False)

# Export name_per_year.csv
display(name_per_year.reset_index().sample(2))
name_per_year.reset_index().to_csv(os.path.join(processed_website_data_folder, 'name_per_year.csv'), index=False)

# Export movie.csv
display(simplified_movie_df.reset_index().sample(2))
simplified_movie_df.reset_index().to_csv(os.path.join(processed_website_data_folder, 'movies.csv'), index=False)

            name status  movie_id
13987  anastasia      i  16305665
24731    leilani      t   3753182

           name  year  percentage
218193     hedy  1943    0.003047
104918  colette  1974    0.008256

,wiki_ID,mov_name,year,month,revenue,numVotes,averageRating,poster_url
5323,23520462,Deep Gold,2011,4.0,NaN,363,3.2,/4eCQoTJ3QXDxBlXChlc7cF909WO.jpg
9107,24517581,The Naked Face,1984,6.0,NaN,1438,5.5,/4RHE44sgmW44pd6Klf4cfGVOm0C.jpg

# Old code

In [ ]:
folder_processed_data_path = './processed_data/'

# import the name_by_movie dataframe
name_by_movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'name_by_movie_ordered_df.csv'))
name_by_movie_df.set_index(['wiki_ID', 'char_words', 'gender'], inplace=True)
display(name_by_movie_df.sample(2))

# import the movie dataframe
movie_df = pd.read_csv(os.path.join(folder_processed_data_path, 'movie_df.csv'))
movie_df.set_index(['wiki_ID'], inplace=True)
display(movie_df.sample(2))

# import the baby names dataframe
baby_name_df = pd.read_csv(os.path.join(folder_processed_data_path, 'baby_name_df.csv'))
baby_name_df.set_index(['name', 'year'], inplace=True)
display(baby_name_df.sample(2))

# create dataframe containing the release year of each movie
release_year_df = movie_df[['year', 'numVotes']].copy(deep=True)
display(release_year_df.sample(2))

# import the name_by_movie with the slope difference
name_by_movie_slope_diff_df = pd.read_csv(os.path.join(folder_processed_data_path, 'name_by_movie_ordered_pvalue_10_5_df.csv'))
name_by_movie_slope_diff_df.set_index(['wiki_ID', 'char_words', 'gender'], inplace=True)
display(name_by_movie_slope_diff_df.sample(2))

# Data processing for the website
In this notebook, we filter the `name_by_movie` dataframe in order to remove the movie character too little known to have had an impact on the baby names. We will assess the popularity of the charcter based on the number of IMDB ratings of the movie and whether its role was important by using the `order` attribute.

In addition, an issue related to the limitation of the data is assessed here. The problem is that for two movies released the same year that has the same name for one of their character, we can't tell which of them had an impact on the name given to babies. To assess this problem, we will keep only the most popular movie based on the number of IMDB ratings.

### Filtering of `name_by_movie` : number of ratings

First, let's remove the character names of movies with less than 100 IMDB ratings.

In [ ]:
name_by_movie_df.reset_index(inplace=True)
movie_df.reset_index(inplace=True)

name_by_movie_df_merged = name_by_movie_df.merge(release_year_df, left_on='wiki_ID', right_on='wiki_ID', how = 'left').copy(deep=True)
print(f"length of the initial dataframe : {len(name_by_movie_df)}")
print(f"length of the merged dataframe : {len(name_by_movie_df_merged)}")
display(name_by_movie_df_merged.sample(2))

In [ ]:
name_by_movie_df_merged_filter_nbratings = name_by_movie_df_merged[name_by_movie_df_merged['numVotes'] >= 1000].copy(deep=True)
print(f"length of the initial dataframe : {len(name_by_movie_df)}")
print(f"length of the filtered dataframe : {len(name_by_movie_df_merged_filter_nbratings)}")

### Filtering of `name_by_movie`  : importance of the role

Now, lets remove the character names with an minor role in the movie. We will keep only the characters with a order higher or equal to the median of the set of order in the movie. First, let's compute the number of order for each movies.

In [ ]:
# is it normal that not all the movies in movies_df have at least one character in name_by_movie_df ? TODO
# display(movie_df[movie_df['wiki_ID'] == 844398])
# display(name_by_movie_df[name_by_movie_df['wiki_ID'] == 844398])

In [ ]:
name_by_movie_merged_groupby = name_by_movie_df_merged_filter_nbratings.groupby(['wiki_ID'])
name_by_movie_merged_nunique = name_by_movie_merged_groupby['order'].nunique()

# check for a specific movie
test_movie_id = 617063

for movie_id, group in name_by_movie_merged_groupby:
    if(movie_id == (test_movie_id,)):
        print('movie_id', movie_id)
        print('group', group)

print(f"number of unique order = {name_by_movie_merged_nunique[test_movie_id]}")
name_by_movie_merged_nunique = name_by_movie_merged_nunique.to_frame()
name_by_movie_merged_nunique.rename(columns={"order": "nb_order"}, inplace=True)
display(name_by_movie_merged_nunique)

In [ ]:
name_by_movie_merged_with_nunique = name_by_movie_df_merged_filter_nbratings.merge(name_by_movie_merged_nunique, on='wiki_ID', how='left')
display(name_by_movie_merged_with_nunique.sample(2))

In [ ]:
# filtering
name_by_movie_merged_important_role = name_by_movie_merged_with_nunique[name_by_movie_merged_with_nunique['order'] <= name_by_movie_merged_with_nunique['nb_order']].copy(deep=True)
name_by_movie_merged_important_role.drop(columns=['order', 'nb_order'], inplace=True)
print(f"length of the initial dataframe : {len(name_by_movie_df)}")
print(f"length of the filtered dataframe : {len(name_by_movie_merged_important_role)}")
display(name_by_movie_merged_important_role.sample(2))

### Filtering  `name_by_movie` : keep three most famous character of the year only
In a given year, several movies may have been released with the same name for one of their character. This is problematic because it is impossible to know which of the movie had an impact on the baby naming of the given name (if it had any). To solve this problem, we keep three most famous movies (based on the number of rating) for each year and name in the dataset. 

First, we need to remove the gender attribute which is annoying because some of the characters are twice in the dataset once for each genders.

In [ ]:
# drop gender column
len_before = len(name_by_movie_merged_important_role)
name_by_movie_merged_important_role.drop_duplicates(subset=['wiki_ID', 'char_words'], keep='first', inplace=True)
name_by_movie_merged_important_role.drop(columns=['gender'], inplace=True)
len_after = len(name_by_movie_merged_important_role)
print(f"length before : {len_before}")
print(f"length after : {len_after}")

Now, we can filter the `name_by_movie` dataframe in order to keep only the three most popular movies for each year and name

In [ ]:
name_by_movie_merged_three_characters_only = name_by_movie_merged_important_role.sort_values(by='numVotes', ascending=False).groupby(['year', 'char_words']).head(3).reset_index(drop=True)

display(name_by_movie_merged_three_characters_only)

Now, let's make a first test to see if the filtering is correct for a specific case: the name Daniel, in 2001.

In [ ]:
# check before
test_word = 'Daniel'
test_year = 2001
test_df = name_by_movie_merged_important_role[name_by_movie_merged_important_role['char_words'] == test_word]
test_df = test_df[test_df['year'] == test_year]
display(test_df)

In [ ]:
# check after
test_df = name_by_movie_merged_three_characters_only[name_by_movie_merged_three_characters_only['char_words'] == test_word]
test_df = test_df[test_df['year'] == test_year]
display(test_df)

In [ ]:
print(f"length of the initial dataframe : {len(name_by_movie_df)}")
print(f"length of the filtered dataframe : {len(name_by_movie_merged_three_characters_only)}")

### Create the custom `web_name_by_movie_df`
Finally, we create the dataframe that will be used in the website. To do so, we add information about the movie on the `name_by_movie` dataframe created until now.

In [ ]:
# display(name_by_movie_merged_three_characters_only.sample(2))
# display(movie_df)

# Add movie info to the dataframe
temp_merge_df = movie_df[['wiki_ID', 'mov_name', 'averageRating', 'poster_url']].copy(deep=True)
web_name_by_movie_df = name_by_movie_merged_three_characters_only.merge(temp_merge_df, on='wiki_ID', how='left').copy(deep=True)

# Reorder the columns
desired_columns_order = ['char_words', 'wiki_ID', 'mov_name', 'year', 'averageRating', 'numVotes', 'poster_url']
web_name_by_movie_df = web_name_by_movie_df[desired_columns_order].copy(deep=True)
web_name_by_movie_df.set_index(['char_words', 'wiki_ID'], inplace=True)

# Check if the indexing is unique
print(f"Is the indexing of web_name_by_movie_df unique ? {web_name_by_movie_df.index.is_unique}")
display(web_name_by_movie_df.sample(2))

In [ ]:
# Specific check
web_name_by_movie_df.loc['Elizabeth'][web_name_by_movie_df.loc['Elizabeth']['year'] == 1940]

### Filtering of `baby_name_df`
The baby_name_df is too large to be loaded on the website. We will drop the column `number` and remove the names with too little years where there is data.

In [ ]:
display(baby_name_df.head(2))
web_baby_name_df = baby_name_df[['percentage']].copy(deep=True)
display(web_baby_name_df.head(2))
web_baby_name_count = web_baby_name_df.groupby(['name']).count()
web_baby_name_count.rename(columns={"percentage": "count"}, inplace=True)
display(web_baby_name_count.head(2))
plt.hist(web_baby_name_count['count'], bins=100)
plt.show()

# merging
web_baby_name_df.reset_index(inplace=True)
web_baby_name_count.reset_index(inplace=True)
display(web_baby_name_df.head(2))
display(web_baby_name_count.head(2))
web_name_by_movie_df_merged = web_baby_name_df.merge(web_baby_name_count, on='name', how='left').copy(deep=True)
display(web_name_by_movie_df_merged.head(2))

# filtering
print(f"size of the dataframe before filtering : {len(baby_name_df)}")
print(f"size of the dataframe before filtering : {len(web_name_by_movie_df_merged)}")
web_baby_name_df = web_name_by_movie_df_merged[web_name_by_movie_df_merged['count'] >= 60].copy(deep=True)
web_baby_name_df.drop(columns=['count'], inplace=True)
web_baby_name_df.set_index(['name', 'year'], inplace=True)
display(web_baby_name_df.head(2))
print(f"size of the dataframe after filtering : {len(web_baby_name_df)}")

In [ ]:
# Let's filter the dataframe web_baby_name_df to anticipate the ploting
web_baby_name_df.sort_values(by=['year'], inplace=True)

### Creation of the TOP5/5NULLFAMOUS/BOTTOM5
We need also a dataframe containing for each name in the `baby_name` dataset, 10 years where a variation of the baby names are significant (5 with the largest positive variation and 5 with the largest negative variation) as well as 5 popular movies where the variation is not significant.

In [ ]:
display(name_by_movie_slope_diff_df.sample(2))

Let's remove the gender because we won't consider it

In [ ]:
# drop gender column
len_before = len(name_by_movie_slope_diff_df)
name_by_movie_slope_diff_without_gender_df = name_by_movie_slope_diff_df.copy(deep=True)
name_by_movie_slope_diff_without_gender_df.reset_index(inplace=True)
name_by_movie_slope_diff_without_gender_df.drop_duplicates(subset=['wiki_ID', 'char_words'], keep='first', inplace=True)
name_by_movie_slope_diff_without_gender_df.drop(columns=['gender'], inplace=True)
len_after = len(name_by_movie_slope_diff_without_gender_df)
print(f"length before : {len_before}")
print(f"length after : {len_after}")
display(name_by_movie_slope_diff_without_gender_df.sample(2))

In [ ]:
# drop useless columns
name_by_movie_with_slope_only = name_by_movie_slope_diff_without_gender_df.drop(columns=['order', 'p_value', 't_stat']).copy(deep=True)
display(name_by_movie_with_slope_only.sample(2))

Now let's tackle the computing of the 5 TOP and 5 BOTTOM years with the most variation per names

In [ ]:
movie_id_and_year_df = movie_df[['wiki_ID', 'year']].copy(deep=True)
display(movie_id_and_year_df.sample(2))

In [ ]:
# merge the release year into the name_by_movie_with_slope_only dataframe
name_by_movie_with_slope_and_year = name_by_movie_with_slope_only.merge(movie_id_and_year_df, on='wiki_ID', how='left').copy(deep=True)
display(name_by_movie_with_slope_and_year.sample(2))

# check for a specific name and year
name_by_movie_with_slope_and_year.set_index(['char_words', 'year'], inplace=True)
display(name_by_movie_with_slope_and_year.loc['Elizabeth', 2004]) # ok, everything is fine
name_by_movie_with_slope_and_year.reset_index(inplace=True)

In [ ]:
display(name_by_movie_with_slope_and_year.head(2))
name_by_year_with_slop_change = name_by_movie_with_slope_and_year.drop_duplicates(subset=['char_words', 'year'], keep='first').copy(deep=True)
name_by_year_with_slop_change.drop(columns=['wiki_ID'], inplace=True)
name_by_year_with_slop_change.dropna(subset='slope_change', inplace=True)
display(name_by_year_with_slop_change.head(2))

In [ ]:
# Find the top and bottom 5 years for each name
top_5_years = name_by_year_with_slop_change.groupby('char_words').apply(lambda x: x.nlargest(5, 'slope_change')).reset_index(drop=True).copy(deep=True)
bottom_5_years = name_by_year_with_slop_change.groupby('char_words').apply(lambda x: x.nsmallest(5, 'slope_change')).reset_index(drop=True).copy(deep=True)

# Add a column indicating whether it is a top or bottom year
top_5_years['top_or_bottom'] = 'top'
bottom_5_years['top_or_bottom'] = 'bottom'

# Concatenate the two DataFrames
web_top_bottom_df = pd.concat([top_5_years, bottom_5_years], ignore_index=True).copy(deep=True)

# Drop the column used for sorting and set the index columns
web_top_bottom_df.set_index(['char_words', 'top_or_bottom'], inplace=True)

display(web_top_bottom_df)

We have an issue when the are less than 5 years with a positive slope and when there are less than 5 years with a negative slope. The next cell solve this problem.

In [ ]:
display(web_top_bottom_df)

In [ ]:
display(web_top_bottom_df.loc['Maxime',:]) ## There should be only positive value in for the top years and only negative values for the bottom years

# To solve this problem :
web_top_bottom_df_no_index = web_top_bottom_df.reset_index().copy(deep=True)
web_top_bottom_filtered_df = web_top_bottom_df_no_index[~((web_top_bottom_df_no_index['slope_change'] < 0) & (web_top_bottom_df_no_index['top_or_bottom'] == 'top')) & ~((web_top_bottom_df_no_index['slope_change'] > 0) & (web_top_bottom_df_no_index['top_or_bottom'] == 'bottom'))].copy(deep=True)
web_top_bottom_filtered_df.set_index(['char_words', 'top_or_bottom'], inplace=True)

display(web_top_bottom_filtered_df.loc['Maxime',:]) ## There should be only positive value in for the top years and only negative values for the bottom years

In [ ]:
web_top_bottom_df = web_top_bottom_filtered_df.copy(deep=True)

In [ ]:
# check TOP 5 and BOTTOM 5 computation with a specific name
name_by_year_with_slop_change.reset_index(inplace=True)
name_by_year_with_slop_change.set_index(['char_words', 'year'], inplace=True)
display(name_by_year_with_slop_change)
display(name_by_year_with_slop_change.loc['Elizabeth', :])

import plotly.express as px

# Create a scatter plot using Plotly Express
fig = px.scatter(name_by_year_with_slop_change.loc['Elizabeth', :].reset_index(), x='year', y='slope_change', title='Interactive Scatter Plot', labels={'X': 'X-axis', 'Y': 'Y-axis'})

# Add cursor tooltip
fig.update_layout(hovermode='closest')

# Show the plot
fig.show()

display(web_top_bottom_df.loc['Elizabeth', :])

In [ ]:
# Check passed, we can drop the column slope_change
web_top_bottom_df.drop(columns=['slope_change'], inplace=True)

Now, for each name in the `web_name_by_movie` dataframe, we gather all the movies that have this name for one of its character and that are not significant. Then we take the first 5 of this list and add it into a new dataframe called `5_famous_movies_but_unsignificant_by_name`

We reuse the dataframe `name_by_movie_slope_diff_without_gender_df` computed above.

In [ ]:
display(name_by_movie_slope_diff_without_gender_df.head())
print(f"Length before : {len(name_by_movie_slope_diff_without_gender_df)}")

# first we can remove all the rows where the p_value is a NaN
name_by_movie_slope_diff_without_gender_filtered = name_by_movie_slope_diff_without_gender_df.copy(deep=True)
name_by_movie_slope_diff_without_gender_filtered.dropna(subset=['p_value'], inplace=True)
# we can remove the columsn we don't need
name_by_movie_slope_diff_without_gender_filtered.drop(columns=['order', 'slope_change', 't_stat'], inplace=True)
display(name_by_movie_slope_diff_without_gender_filtered.head())
print(f"Length after : {len(name_by_movie_slope_diff_without_gender_filtered)}")

print(f"Length before : {len(name_by_movie_slope_diff_without_gender_df)}")
# keep only non-significent rows
name_by_movie_non_significent = name_by_movie_slope_diff_without_gender_filtered[name_by_movie_slope_diff_without_gender_filtered['p_value'] >= 0.1].copy(deep=True)
name_by_movie_non_significent.drop(columns=['p_value'], inplace=True)
display(name_by_movie_non_significent.head())
print(f"Length after : {len(name_by_movie_non_significent)}")

In [ ]:
# add the attribute 'numVotes' from the movie_df dataframe with a merge
temp_merge_df = movie_df[['wiki_ID', 'numVotes']].copy(deep=True)
display(temp_merge_df.head())
name_by_movie_non_significent_with_numvotes = name_by_movie_non_significent.merge(temp_merge_df, on='wiki_ID', how='left').copy(deep=True)
display(name_by_movie_non_significent_with_numvotes.head())
print(f"length of name_by_movie_non_significent_with_numvotes : {len(name_by_movie_non_significent_with_numvotes)}")

In [ ]:
# Sorting the DataFrame by 'name' and 'scores' in descending order
# df_sorted = name_by_movie_non_significent_with_numvotes.sort_values(by=['char_words', 'numVotes'], ascending=[True, False])
name_by_movie_non_significent_with_numvotes_sorted = name_by_movie_non_significent_with_numvotes.sort_values(by='numVotes', ascending=False).copy(deep=True)
display(name_by_movie_non_significent_with_numvotes_sorted.head())

# Extracting the top 5 rows for each 'name'
web_top_famous_but_insi = name_by_movie_non_significent_with_numvotes_sorted.groupby('char_words').head(5).copy(deep=True)
web_top_famous_but_insi.set_index(['char_words'], inplace=True)
web_top_famous_but_insi.drop(columns=['numVotes'], inplace=True)
display(web_top_famous_but_insi.head())

### Export the data

In [ ]:
processed_website_data_folder = './processed_data/website/'

display(web_name_by_movie_df.reset_index().head())
# Export DataFrame to a CSV file in the processed data folder
web_name_by_movie_df.reset_index().to_csv(os.path.join(processed_website_data_folder, 'web_name_by_movie_df.csv'), index=False)

display(web_baby_name_df.reset_index().head())
# Export DataFrame to a CSV file in the processed data folder
web_baby_name_df.reset_index().to_csv(os.path.join(processed_website_data_folder, 'web_baby_name_df.csv'), index=False)

display(web_top_bottom_df.reset_index().head())
# Export DataFrame to a CSV file in the processed data folder
web_top_bottom_df.reset_index().to_csv(os.path.join(processed_website_data_folder, 'web_top_bottom_df.csv'), index=False)

display(web_top_famous_but_insi.reset_index().head())
# Export DataFrame to a CSV file in the processed data folder
web_top_famous_but_insi.reset_index().to_csv(os.path.join(processed_website_data_folder, 'web_top_famous_but_insi.csv'), index=False)

# Test the ploting

In [ ]:
# To be set by the user
chosen_name = 'Elizabeth'

web_baby_name_df.reset_index(inplace=True)
web_baby_name_df.set_index(['name'], inplace=True)

x_values = web_baby_name_df.loc[chosen_name]['year'].values
y_values = web_baby_name_df.loc[chosen_name]['percentage'].values

# Ploting
plt.plot(x_values, y_values)
plt.xlabel('Years')
plt.ylabel('Percentage of total births')
plt.title(f'Name "{chosen_name}"')

In [ ]:
# Get the top 5 years from the web data
top_5_years = web_top_bottom_df.loc[chosen_name, 'top'].values[:,0]
print(f"top_5_years = {top_5_years}")
data_top_5_years = web_name_by_movie_df[(web_name_by_movie_df['char_words'] == chosen_name) & (web_name_by_movie_df['year'].isin(top_5_years))].copy(deep=True)
display(data_top_5_years)

In [ ]:
# Get the bottom 5 years from the web data
bottom_5_years = web_top_bottom_df.loc[chosen_name, 'bottom'].values[:,0]
print(f"bottom_5_years = {bottom_5_years}")
data_bottom_5_years = web_name_by_movie_df[(web_name_by_movie_df['char_words'] == chosen_name) & (web_name_by_movie_df['year'].isin(bottom_5_years))].copy(deep=True)
display(data_bottom_5_years)

# # only three movies for the chosen name 'Thomas' ? instead of 3x5=15 ? check the top 5 years seperately
# display(web_name_by_movie_df[(web_name_by_movie_df['char_words'] == chosen_name) & (web_name_by_movie_df['year'] == bottom_5_years[0])])
# display(web_name_by_movie_df[(web_name_by_movie_df['char_words'] == chosen_name) & (web_name_by_movie_df['year'] == bottom_5_years[1])])
# display(web_name_by_movie_df[(web_name_by_movie_df['char_words'] == chosen_name) & (web_name_by_movie_df['year'] == bottom_5_years[2])])
# display(web_name_by_movie_df[(web_name_by_movie_df['char_words'] == chosen_name) & (web_name_by_movie_df['year'] == bottom_5_years[3])])
# display(web_name_by_movie_df[(web_name_by_movie_df['char_words'] == chosen_name) & (web_name_by_movie_df['year'] == bottom_5_years[4])])

In [ ]:
# Get the top 5 famous but insignificant movies from the web data
id_5_famous_movies_but_insignificant = web_top_famous_but_insi.loc[chosen_name].values[:,0]
print(f"id_5_famous_movies_but_insignificant = {id_5_famous_movies_but_insignificant}")

web_name_by_movie_df.reset_index(inplace=True)
data_5_famous_movies_but_insignificant = web_name_by_movie_df[(web_name_by_movie_df['char_words'] == chosen_name) & (web_name_by_movie_df['wiki_ID'].isin(id_5_famous_movies_but_insignificant))]
display(data_5_famous_movies_but_insignificant)